@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Başlık Güncelleme Sayfası</h2>

@using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
{
<div class="form-group container">
    @Html.Label("Başlık Id")
    @Html.TextBoxFor(x => x.HeadingId, new { @class = "form-control" }) <br />
    @Html.Label("Başlık Kategorisi")
    @Html.DropDownListFor(x => x.HeadingName,(List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" }) <br />
<button class="btn btn-success">Güncelle</button>
</div>
}

