
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h2 class="text-center">Yeni Kategori Ekleme Sayfası</h2>

    <hr />

    <form class="form-group" method="post">
        Kategori: <input type="text" name="CategoryName" placeholder="Kategori Adı" class="form-control" /><br />
        Açıklama: <input type="text" name="CategoryDescription" placeholder="Açıklama Gir" class="form-control" /><br />
        <button class="btn btn-primary">Ekle</button>
    </form>
</div>