@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<br />

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@item.CategoryStatus</td>
            </tr>
        }
    </table>
    <hr />
    <a href="/Category/AddCategory" class="btn btn-success">Yeni Kategori</a>
</div>