
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="container">
    <h2 class="text-center">Yapılacaklar</h2><hr />
    <ul class="list-group">
        <li class="list-group-item">#1 Profilim Sayfası yapılacak</li>
        <li class="list-group-item">#2 Tüm başlıklarda pagging yapılacak</li>
        <li class="list-group-item">#3 Mesajlarda Session</li>
        <li class="list-group-item">#4 Oturum yönetiminin mimariye taşınması</li>
        <li class="list-group-item">#5 Token Kullanımı</li>
        <li class="list-group-item">#5 </li>
    </ul>
</div>

