
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="container">
    <h2 class="text-center">Yazar Panelinde Yapılacaklar</h2><hr />
    <ul class="list-group text-center">
        <li class="list-group-item disabled"><del>#1 Profilim Sayfası yapılacak</del></li>
        <li class="list-group-item disabled"><del>#2 Tüm başlıklarda pagging yapılacak</del></li>
        <li class="list-group-item disabled"><del>#3 Mesajlarda Session</del></li>
        <li class="list-group-item disabled"><del>#4 Oturum yönetiminin mimariye taşınması</del></li>

    </ul> <br />

    <h2 class="text-center">Admin Panelinde Yapılacaklar</h2><hr />
    <ul class="list-group text-center">
        <li class="list-group-item">#1 Başlıklarda arama kutusu</li>
        <li class="list-group-item">#2 Grafikler Eklenecek</li>
        <li class="list-group-item">#3 Vitrin Teması Eklenecek</li>
        <li class="list-group-item">#4 Gelen kutusunda arama işlemi</li>
        <li class="list-group-item">#5 Yetkilendirmeler</li>
        <li class="list-group-item">#6 Hata sayfalarını layouttan ayır</li>
        <li class="list-group-item">#7 Sözlüğü ve vitrini ayır</li>
        <li class="list-group-item">#8 Projeyi canlıya taşı</li>
        <li class="list-group-item">#9 Tablo raporlama</li>
    </ul>
</div>
<br /><br /><br /><br /><br /><br />
