
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="container">
    <h2 class="text-center">Yapılacaklar</h2><hr />
    <ul class="list-group text-center">
        <li class="list-group-item disabled"><del>#1 Profilim Sayfası yapılacak</del></li>
        <li class="list-group-item disabled"><del>#2 Tüm başlıklarda pagging yapılacak</del></li>
        <li class="list-group-item disabled"><del>#3 Mesajlarda Session</del></li>
        <li class="list-group-item">#4 Oturum yönetiminin mimariye taşınması</li>
        <li class="list-group-item">#5 Token Kullanımı</li>
        <li class="list-group-item">#6  </li>
    </ul>
</div>

